.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: rem(150px);
  padding-bottom: rem(150px);
  background-image: url("/index.svg");
  height: 700px;
}

.inner {
  margin-top: 1rem;
  position: relative;
  z-index: 1;
}

.title {
  text-align: center;
  font-weight: 800;
  font-size: rem(40px);
  letter-spacing: -1px;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  margin-bottom: var(--mantine-spacing-xs);
  font-family: Greycliff CF, var(--mantine-font-family);
}

.highlight {
  color: light-dark(var(--mantine-color-cyan-9), var(--mantine-color-cyan-4));
}
.content {
  max-width: rem(800px);
  margin-right: calc(var(--mantine-spacing-xl) * 1);
}

.description {
  text-align: center;
}

.controls {
  margin-top: var(--mantine-spacing-lg);
  display: flex;
  justify-content: center;
}

.control {
  &:not(:first-of-type) {
    margin-left: var(--mantine-spacing-md);
  }
}

.image {
  margin-left: 2rem;
  margin-top: 1rem;
  width: rem(500px);
  height: rem(300px);
}
