.card {
    width: 300px;
    height: 440px;
    transition: transform 0.5s ease;
    cursor: pointer;
    transition: 'transform 0.5s ease';
    background-color: #D5F5F3;

}

.card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
}

.cardSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 18px;
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 60px;
   
}

.cardDiv {
    display: flex;
    justify-content: center;
    gap: 40px;

}

.largeText {
    font-size: 2rem;
    font-weight: 600; 
    color: #333;
    text-align: center; 
    margin-bottom: 1rem; 
  }
  

.smallText {
    font-size: 1.5rem;
    color: #666; 
    text-align: center; 
  }
  